
<main class="container">

  <div class="row">
    <h2><%= @user.name %></h2>
  </div>

  <div class="row">
    <h3>Birds for rent:</h3>
    <% @user.birds_for_rent.each do |bird| %>
      <%= render partial: 'shared/bird-card', locals: {bird: bird} %>
    <% end %>
  </div>

  <div class="row">
    <%= link_to "Back to Main", root_path  %>
  </div>

</main>
