
<div class="container">
  <div class="dashboard-container">
    <div>
      <h1>Welcome, <%= @user.name %> </h1>
      <h3><%= @user.email %></h3>
    </div>

    </br>

    <!-- Make a list of birds appear here -->
    <div class="dashboard-birds">
      <div class="box-birds">
        <span>This is your birds, rent them!</span>

      </div>

      <div class="box-birds">
        <span>This is your transaction history!</span>

      </div>
    </div>
  </div>

  <%= link_to "Back to Main", root_path  %>
</div>
