<div class="container">
  <h1>Rent this companion, matey!</h1>
  <h4>Excellent choice! This bird is the master of looting, hunting, stealing the enemy treasure and more!</h4>
  <%= simple_form_for [@bird, @rental] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "add a rental", class: "btn btn-primary" %>
  <% end %>
</div>
