<h1>Rentals#new</h1>
<p>Find me in app/views/rentals/new.html.erb</p>

<%= simple_form_for [@bird, @rental] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "add a rental", class: "button follow" %>
<% end %>
