<div style="display: flex; height: 100%;">

  <div class="container">

  <div class="row">
    <% @birds.each do |bird| %>
      <%= render 'shared/bird-card', bird: bird %>
    <% end %>
  </div>

  </div>

  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>




