
<main role="main">
  <article class="card-60 social">
    <figure>
      <img src="http://www.dogbazar.org/wp-content/uploads/2017/04/Chattering-lory.jpg" alt="parrot">
    </figure>
    <!-- end figure-->
    <div class="flex-content">
      <header>
        <p class="user">
          <% if @bird.user == current_user %>
           <%= link_to "Edit #{@bird.name}", edit_bird_path, class: "button follow" %>
           <% else %>
           <%= link_to "Rent #{@bird.name}", new_bird_rental_path(@bird), class: "button follow" %>
           <!-- Add NEW RENTALS PATH -->
        <% end  %>

          <img class="avatar-32" src="http://jlantunez.com/imgs/avatar.jpg" alt="Avatar">
          <strong>
          <a title="Full Name" href="#">
            Blackbeard
          </a>
        </strong>
          <span>8 mins ago &middot; <%= @bird.location %> </span>
        </p>
      </header>
      <h2>
      <%= @bird.name %>
    </h2>
      <p>
        Parrots, also known as psittacines, are birds of the roughly 393 species in 92 genera that make up the order Psittaciformes, found in most tropical and subtropical regions.
      </p>
      <ul>
        <li>
          <strong title="Type">Type:</strong>
          Parrot
        </li>
        <li><strong title="availability">Color:</strong> Red/Orange/Black/Blue</li>
        <li><strong title="Shipping">Shipping:</strong> Free</li>
      </ul>
      <footer>
        <p>
          <a class="bt-love" title="Love" href="#">
          Love
        </a>
          <a class="bt-comment" title="Comment" href="#">
          Comment
        </a>
        </p>
      </footer>
    </div>
    <!-- end .flex-content-->
<!--  -->
