.bird-card {
  height: 300px;
  min-width: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 15px 10px;
}

.card-image {
  position: absolute;
  top: 0px;
  height: 70%;
  width: 100%;
  // min-width: 200px;
  background-size: cover !important;
  background-position: center;
}

.card-description {
  position: absolute;
  bottom: 0px;
  min-width: 200px;
  height: 30%;
  // top: 150px;
}
.card-description h2 {
  font-size: 24px;
  color: black;
}

.card-description span {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: black;
}

.bird-name {

}

.bird-info {
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
