.symbol{
    display:inline-block;
    font-size: 40px;
    line-height: 50px;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: bottom;
}

.overlay{
  text-align: center;
}

.gallery-image{
  margin-top: 30px;
  margin-bottom: 70px;
}

.title-value{
  margin-top: 50px;
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: 200;
}
