<footer class="mt6 pv4 bg-gray page-footer font-small blue pt-4 mt-4">

  <div class="container-fluid text-center text-md-left">
    <div class="row white">

      <p>Made with Amsterdam!</p>

    </div>
  </div>

  <div class="white footer-copyright text-center py-3">© 2018 Copyright:
    <a class="white" href="https://mdbootstrap.com/bootstrap-tutorial/"> Weed Golf</a>
  </div>

</footer>
